
h1 {
  color: #00FFFF;
}

li {
  color: #00FFFF;
}

body {
  color: #00FFFF;
}

h1 {
  font-family: cursive;
}

body {
  background-color: #008080;
}

footer{
  color: #00FFFF;
}

h1 {
  font-style: italic;
}

h1 {
  font-size: 32px;
}

iframe {
  text-align: right;
}
